@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #71018D;
  --color-secondary: #BD00DD;
  --color-bg-base-100: #010313;
  --color-bg-base-200: #FFFFFF;
  
  /* --color-base-200:	#FAF5FF; */
  /* --color-base-100:	#2D0C57;
  --color-base-300:	#6B7280; */

}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;


}

* {
  font-family: "Poppins", sans-serif;
}


h1 {
  font-family: "Nunito", sans-serif;
}